---
import fetchApi from '../lib/strapi';
import type Article from '../interfaces/article';

const articles = await fetchApi<Article[]>({
  endpoint: 'articles',
  wrappedByKey: 'data',
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Strapi & Astro</title>
  </head>

  <body>
    <main>
      <ul>
        {
          articles.map((article) => (
            <li>
              {article.attributes.slug ? (
                <a href={`/blog/${article.attributes.slug}/`}>
                  {article.attributes.title || 'Untitled'}
                </a>
              ) : (
                <span>{article.attributes.title || 'Untitled'} (Missing slug)</span>
              )}
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
