---
import fetchApi from '../../lib/strapi';
import type Article from '../../interfaces/article';

const articles = await fetchApi<Article[]>({
  endpoint: 'articles'
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Strapi & Astro</title>
  </head>

  <body>
    <main>
      <ul>
        {
          articles.map((article) => (
            <li>
              {article.slug ? (
                <a href={`/blog/${article.slug}/`}>
                  {article.title || 'Untitled'}
                </a>
              ) : (
                <span>{article.title || 'Untitled'} (Missing slug)</span>
              )}
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
